all:
  vars:
    # Pull secret must include all necessary auth, including registry.redhat.io
    pull_secret: 'pull_secret'
    temporary_path: /tmp
    installer_disk_size: 220
    # provisioner cluster, just set it if you need to deploy a provisioner cluster
    provisioner_cluster_name: cluster
    provisioner_cluster_domain: testing.home
    provisioner_cidr: "2620:52:0:1310::/64"
    provisioner_api_ip: "2620:52:0:1310::21"
    provisioner_ip: "2620:52:0:1310::2"
    provisioner_dnsmasq_from: "2620:52:0:1310::3"
    provisioner_dnsmasq_to: "2620:52:0:1310::20"
    provisioner_mask: 64
    provisioner_ingress_ip: "2620:52:0:1310::22"
    provisioner_cluster_network: baremetal
    bridge_nic: eno2
    default_libvirt_range: 192.168.122.0/24
    provisioner_proxy: http://[2620:52:0:1310::2]:3128
    provisioner_cluster_ntp_server: "2620:52:0:1310::2"
    #provisioner_cluster_openshift_image: quay.io/openshift-release-dev/ocp-release:4.8.0-x86_64
    provisioner_cluster_openshift_image: registry.ci.openshift.org/ocp/release:4.9.0-0.nightly-2021-08-19-184748

    # set it to a disk that has a minimum of 350gb, for mirroring
    provisioner_cluster_libvirt_pool: /images2

    # list of hosts with id, name and ipv6
    provisioner_hosts: {
'bootstrap': {'mac': 'aa:aa:aa:aa:bb:05', 'hostname': 'bootstrap.cluster.testing.home', 'ipv6':'2620:52:0:1310::15' },
'mirror': {'mac': 'aa:aa:aa:aa:bb:04', 'hostname': 'cluster-installer.cluster.testing.home', 'ipv6':'2620:52:0:1310::14' },
'master-0': {'mac': 'aa:aa:aa:aa:bb:01', 'hostname': 'master-0.cluster.testing.home', 'ipv6':'2620:52:0:1310::11' },
'master-1': {'mac': 'aa:aa:aa:aa:bb:02', 'hostname': 'master-1.cluster.testing.home', 'ipv6':'2620:52:0:1310::12' },
'master-2': {'mac': 'aa:aa:aa:aa:bb:03', 'hostname': 'master-2.cluster.testing.home', 'ipv6':'2620:52:0:1310::13' }
}
    disconnected_operators: "['performance-addon-operator', 'ptp-operator', 'local-storage-operator', 'advanced-cluster-management', 'gitea-operator', 'sriov-network-operator', 'cluster-logging', 'gitops-operator']"
  children:
    provisioner:
      hosts:
        192.168.112.21:


